.projects {
    &__list {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 25px;
    }

    &__list-item {
        grid-column: 4 span;
    }
}

.project-item {
    // display: flex;
    // align-items: center;    
    min-height: 220px;
    // border: 1px solid var(--purple-300);
    padding: 15px 20px;
    background-color: #1f1f1f;
    border-radius: 12px;
    display: flex;
    flex-direction: column;

    &__links {
        display: flex;
        gap: 20px;
        align-items: center;
    }

    &__website {

    }

    &__descr {
        color: #999;
    }
}

