:root {
	--gray-900: #0c0c0d;
	--gray-800: #131313;
	--gray-700: #272727;
	--gray-400: #6f6f6f;
	--gray-300: #c8c8c8;
	--white: #fff;
	--green-500: #5fb9b0;
	--purple-300: #b292ff;

	--section-gap: 35px;

--color-bg1: rgb(108, 0, 162);
  --color-bg2: rgb(0, 17, 82);
  --color1: 18, 113, 255;
  --color2: 221, 74, 255;
  --color3: 100, 220, 255;
  --color4: 200, 50, 50;
  --color5: 180, 180, 50;
  --color-interactive: 140, 100, 255;
  --circle-size: 80%;
  --blending: hard-light;
}