.nav {

  &__list {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__link {
    display: inline-block;
    font-size: 22px;
    transition: color 0.35s ease-in-out, transform 0.35s ease-in-out;

   
    
    &:hover {
      color: rgb(196, 190, 190);
      transition: color 0.35s ease-in-out;
    }

    &:focus {
      outline: 1px solid transparent;
      color: rgb(196, 190, 190);
      transform: scale(1.05);
      transition: color 0.35s ease-in-out, transform 0.35s ease-in-out;
    }

    &--active {
      color: var(--purple-300);
      &:hover {
        color: var(--purple-300);
      }
    }


  }
}